.card_list {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* grid-template-columns: 1fr, 1fr, 1fr, 1fr; */
  margin: 0 auto; /* center grid */
  grid-gap: 20px;
}
